---
import {getCollection} from 'astro:content';
import {Picture} from 'astro:assets';
import LessonList from '../components/LessonList.tsx';
import heroImage from '../assets/hero.png';
import PageLayout from '../layouts/PageLayout.astro';

const lessons = await getCollection('lessons');

const lessonData = lessons
  .toSorted((a, b) => a.id.localeCompare(b.id))
  .filter((lesson) => lesson.data.published)
  .map((lesson) => ({...lesson.data, id: lesson.id}));
---

<!-- description="Browse all available lessons below." -->
<PageLayout title="All Lessons">
  <div>STAGING</div>
  <div
    class="mb-8 mx-0 sm:mx-auto sm:px-4 relative w-full max-w-none sm:max-w-4xl"
  >
    <Picture
      src={heroImage}
      formats={['avif', 'webp']}
      alt="Hero Image"
      class="rounded-none sm:rounded-lg"
    />
    <div
      class="absolute top-8 left-4 sm:left-12 inset-0 font-bold text-2xl sm:text-4xl flex flex-col items-start drop-shadow drop-shadow-black text-white"
    >
      <div>RES507 - 2025/2025</div>
      <div>DevOps</div>
    </div>
  </div>
  <article class="prose prose-lg prose-green dark:prose-invert p-4 mx-auto">
    <h1>All Lessons</h1>
    <LessonList client:load lessons={lessonData} />
  </article>
</PageLayout>
