---
import Icon from './Icon.astro';
---

<footer class="w-full flex items-center justify-center pb-2 pt-8 px-4">
  <a
    href="https://github.com/codyzu/devops-2025-2026"
    class:list={[
      'inline-flex items-center justify-center gap-1 flex-wrap',
      'py-1 px-3',
      'rounded-full',
      'border border-black/10 dark:border-white/15',
      'text-xs',
    ]}
  >
    built with <Icon name="i-tabler-heart text-red-500" />
    by Cody Zuschlag; source on
    <Icon name="i-tabler-brand-github" />
  </a>
</footer>
