---
interface Props {
  name: string;
  class?: string;
}

const {name, class: className = ''} = Astro.props;
---

<span
  class:list={['inline-flex items-center align-middle', className]}
  aria-hidden="true"
>
  <i class:list={[name, 'inline-block leading-none align-middle']}></i>
</span>
