---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
}

const {title} = Astro.props;
---

<BaseLayout title={title}>
  <div class="base-layout flex flex-col m-0 tracking-normal min-h-100dvh">
    <Header />
    <main class="pt-18">
      <slot />
    </main>
    <Footer />
  </div>
</BaseLayout>
