---
import revealCss from 'reveal.js/dist/reveal.css?url';
import whiteThemeUrl from 'reveal.js/dist/theme/white.css?url';
import blackThemeUrl from 'reveal.js/dist/theme/black.css?url';
import HomeButton from '../components/HomeButton.astro';
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
}

const {title = 'Slides'} = Astro.props;
---

<style>
  /* Hide heading autolink UI from mdx inside Reveal slides */
  .reveal .slides :global(.heading-anchor),
  .reveal .slides :global(.heading-anchor-icon) {
    --uno: hidden;
  }

  /* Reveal doesn't handle theme switches very well */
  /* On iOS, the background color doesn't update properly */
  /* This fixes the wrong background color */
  body.reveal-scroll .reveal .slides :global(.scroll-page) {
    --uno: 'important:bg-[var(--r-background-color)]';
  }

  /* Center expressive code blocks, while keeping the code left aligned, inside slides */
  .reveal .slides :global(.expressive-code) {
    --uno: 'text-left m-inline-auto max-w-48rem w-full';
  }
</style>

<BaseLayout title={title}>
  <Fragment slot="head">
    <link rel="stylesheet" href={revealCss} />
    <link
      rel="stylesheet"
      href={whiteThemeUrl}
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="stylesheet"
      href={blackThemeUrl}
      media="(prefers-color-scheme: dark)"
    />
  </Fragment>

  <HomeButton />

  <div
    class="fixed top-4 right-4 z-50 bg-red-500 text-white text-sm font-normal px-3 py-1 rounded-full"
  >
    staging
  </div>
  <div class="reveal">
    <div class="slides">
      <slot />
    </div>
  </div>

  <script>
    import Reveal from 'reveal.js';
    import Notes from 'reveal.js/plugin/notes/notes.esm.js';

    const root = document.querySelector('.reveal');
    if (!root) throw new Error('Reveal root element not found');

    const deck = new Reveal(root, {
      hash: true,
      slideNumber: true,
      plugins: [Notes],
    });

    await deck.initialize();
  </script>
</BaseLayout>
