---
import SlidesLayout from '../../layouts/SlidesLayout.astro';
---

<SlidesLayout title="RES507: Intro">
  <section>
    <h1>RES507</h1>
    <p>Welcome!</p>
  </section>

  <section>
    <h2>Agenda</h2>
    <ul>
      <li>Quick context</li>
      <li>Tooling</li>
      <li>First lab</li>
    </ul>
  </section>

  <section>
    <h2>Code</h2>
    <pre><code class="language-bash">pnpm install
pnpm dev</code></pre>
  </section>
</SlidesLayout>
